streamlit
langchain==0.1.4  # Spécifiez une version spécifique 
langchain-text==0.0.5  # Package pour les chargeurs de documents texte
langchain-openai==0.0.5
langchain-community==0.0.13
faiss-cpu
openai
python-dotenv
markdown
tiktoken